.header {
	min-height: 95vh;
	background: linear-gradient(to bottom right, rgba($color-primary, 0.7), $color-black), url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

	&-container {
		padding-top: 20rem;
		display: flex;
		justify-content: space-around;
	}

	&__content {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	&__title {
		color: $color-white;
		text-transform: uppercase;
		padding: 1rem;
		text-align: center;
	}

	&__text {
		color: $color-white;
		text-align: justify;
		padding: 0 4rem;
		margin-bottom: 2rem;
	}

	&__img {
		width: 60%;
	}

	&__image {
		width: 100%;
		box-shadow: 1rem 2rem 4rem $color-black;

		&--resp {
			display: none;
		}
	}
}

.form {
	display: flex;
	&__email {
		margin-right: 2rem;
		padding: 1rem;
		border: none;
		box-shadow: 1rem 2rem 4rem $color-black;
	}
	&__button {
		padding: 1rem 2rem;
		box-shadow: 1rem 2rem 4rem $color-black;
		background-color: $color-primary;
		color: $color-white;
		border: 1px solid $color-white;
		cursor: pointer;
		font-weight: 700;
		transition: 0.5s all;
		&:hover {
			background-color: #fff;
			color: $color-primary;
		}
	}
}
