.features-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.feature-box {
	background-color: $color-primary;
	box-shadow: $box-shadow;
	width: 32rem;
	transition: 0.5s transform;
	border-radius: 2.1rem 2.1rem 0 0;
	margin: 0 2rem 4rem;

	&:hover {
		transform: translateY(-1rem);
	}

	&__img {
		background-size: cover;
		height: 24rem;
		margin-bottom: 2rem;
		border-radius: 2rem 2rem 0 0;

		&--1 {
			background-image: url(../img/problem.jpg);
		}

		&--2 {
			background-image: url(../img/solving.jpg);
		}

		&--3 {
			background-image: url(../img/leading.jpg);
		}

		&--4 {
			background-image: url(../img/phone.jpg);
		}
	}

	&__title {
		margin-bottom: 1rem;
		text-align: center;
		text-transform: uppercase;
		color: $color-white;
	}

	&__text {
		padding: 0rem 2rem;
		color: $color-white;
		line-height: 2.5rem;
		margin-bottom: 2rem;
	}
}
