html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	font-size: 1.6rem;
}

h1,
h2,
h3 {
	padding: 1rem;
	font-size: 6rem;
	font-family: $heading-primary;
	font-weight: normal;
}

h2 {
	font-size: 4rem;
	font-family: $heading-secondary;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.6rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
