.wrapper {
	margin: 0 auto;
	max-width: $x-width;
}

.section__title {
	text-transform: uppercase;
	color: $color-primary;
}

.u-center-text {
	text-align: center;
}

.u-margin-short {
	margin-bottom: 2rem;
}

.u-margin-medium {
	margin-bottom: 4rem;
}

.u-margin-large {
	margin-bottom: 8rem;
}
