// FONTS
$heading-primary: 'Rubik', sans-serif;
$heading-secondary: 'Sarala', sans-serif;
$text-font: 'Padauk', sans-serif;

// COLOR
$color-primary: #2d58ec;
$color-complementary: #cca212;
$color-white: #f7f7f7;
$color-grey: #838383;
$color-black: #030303;
